<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    {% include "partials/header.liquid" %}

    <main>
        <section>
            <h2>All Movies</h2>
            <ul id="movies-list" class="movies">
                {% for movie in movies %}
                    <li class="movie {{ movie.genre }}"> <!-- Add the genre class to the <li> -->
                        <a href="/movie/{{ movie.id }} " class="movie-link">
                            <img 
                                src="{{ movie.image }}" 
                                alt="Movie Poster" 
                                style="--sibling-index: {{ movie.genreIndex }};"
                            >
                        </a>
                        <div></div>
                    </li>
                {% endfor %}
            </ul>
              <!-- Sentinel goes here, JS adds it if you prefer -->              
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@latest/bundled/lenis.min.js"></script>
    <script src="/index.js" type="module"></script>
</body>
</html>
