body {
    padding: 0;
}

section.movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    position: relative;

    >img {
        grid-row: 1 / 4;
        grid-column: 1/2;

        width: 30vw;
        max-width: 400px;
        justify-self: center;
        padding-top: 15vh;
        
        z-index: 2;
    }

    a {
        position: fixed;
        top: 2vw;
        left: 1.5vw;
    }



    .movie-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-top: 2rem;
        width: 80vw;
        grid-row: 5;
        z-index: 2;

        gap: 1rem;

        h1 {
            font-size: var(--step-3);
        }

        p {
            font-size: var(--step-0);
            line-height: 1.5;
            text-align: center;
        }
    }

    div.background {
        position: absolute;
        top: 0;

        width: 100%;
        height: 45vw;
        background: linear-gradient(160deg, var(--blue-background1) 0%, var(--blue-background2) 100%);


        display: flex;
        align-items: flex-end;

        img:nth-child(1) {
            width: 100%;
            height: auto;


            position: absolute;
            top: 5vw;
            z-index: 1;
            
        }

        .ghost {
            position: relative;

            left: 15vw;
            z-index: 1;

            width: 5vw;
            height: auto;

            opacity: 0;

            transform: scale(1);
            transition: transform 0.3s ease;
            z-index: 3;
            animation: hover 1.5s ease infinite;
            animation-direction: alternate;

        }


    }

}




.movie-content, .back-button, .background {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .movie-content.visible, .back-button.visible, div.background.visible {
    opacity: 1;
    transform: translateY(0);
  }

  a {
    color: white;
    text-decoration: none;
  }


  @keyframes hover {
    from {
      padding-bottom: 0px;
    }
    to {
        padding-bottom: 20px;
    }
   }